/*
*Banners*
*/
.banner-img {
    background-image: url(https://templatemo.com/templates/templatemo_546_sixteen_clothing/assets/images/about-heading.jpg);
}


/*
*Lower Body Part*
*/
.top-lower-body{
    padding-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
}

.hr-about-us{
    border: none;
    height: 0.05rem;
    color: #DCDCDC;
    background-color: #DCDCDC;
}

.member{
    width: 330px;
    height: 400px;
    border: 1px solid #ebedeb;
    box-shadow: 0px 10px 15px rgba(0, 0 , 0, 0.2);
}

/*
*Team Members*
*/
.div-container{
    position: relative;
}

.social-media-container{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.div-container .social-media-container{
    visibility: hidden;
    position: absolute;
    transform: translate(0%, 0%);
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    opacity: 0;
    background-color: rgba(255,0,0,0.8);
    transition: all .1s;
}

.div-container:hover .social-media-container{
    visibility: visible;
    opacity: 1;
}

.div-container .social-media-container .social-media-list:hover{
    background-color: black;
    color: white;
}

/*
*Read More*
*/
.span-item-about-us{
    display: flex;
    padding-bottom: 5%;
    background-image: url(../pictures/background-pic.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0px;
}

.read-more-head{
    background-color: #f7f7f7;
    padding: 40px;
    height: 30%;
}

.btn-about-us{
    background-color: #f44336;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 2px;
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    display: flex;
}

.read-more-btn{
    transform: translateX(100%);
}

.detail-btn{
    transform: translateX(113%);
}

.btn-about-us:hover{
    background-color: black;
}