/*
*Banners*
*/
.banner-img{
    background-image: url(https://templatemo.com/templates/templatemo_546_sixteen_clothing/assets/images/about-heading.jpg);
}

.send-us-message-height{
    padding: 15px;
}

.field-set{
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    padding-block-end: 27px; /*Space between each input box*/
}

.input-box-size{
    width: 680px;
    height: 37px;
    border: 1px solid #eee;
    outline: none; /*Disable the hightlight of the input box*/
}

.text-area-size{
    width: 680px;
    height: 100px;
    border: 1px solid #eee;
    outline: none;
    resize: both;
    overflow: auto;
}